<div class="container">

    <div class="container text-center">
        <form class="form-signin" data-ember-action="2">
            <h2 class="form-signin-heading">Sign in</h2>

            <small class="text-muted">Connect [your service] with your favorite social network</small>
            <br><br>


            <p>
                <a class="btn btn-primary social-login-btn social-facebook" fb-login href="javascript:void(0)"><i class="fa fa-facebook"></i></a>
                <a class="btn btn-primary social-login-btn social-twitter" href="/auth/twitter"><i class="fa fa-twitter"></i></a>
            </p>
            <p>
                <a class="btn btn-primary social-login-btn social-linkedin" href="javascript:void(0)" ng-click="ad()"><i class="fa fa-linkedin"></i></a>
                <a class="btn btn-primary social-login-btn social-google" g-login href="javascript:void(0)"><i class="fa fa-google-plus"></i></a>
            </p>

            <div class="btn-group social-login-more">
                <button type="button" class="btn btn-default dropdown-toggle btn-block" data-toggle="dropdown">
                    More...
                </button>
                <ul class="dropdown-menu text-left " role="menu">
                    <li><a href="#"><i class="fa fa-tumblr-sign"></i>   Tumblr</a></li>
                    <li><a href="#"><i class="fa fa-github-alt"></i>   Github</a></li>
                    <li><a href="#"><i class="fa fa-dropbox"></i>   Dropbox</a></li>
                    <li><a href="/auth/amazon"><span class="zocial-amazon"></span>   Amazon</a></li>
                    <li><a href="#"><span class="zocial-bitbucket"></span>   Bitbucket</a></li>
                    <li><a href="#"><span class="zocial-evernote"></span>   Evernote</a></li>
                    <li><a href="#"><span class="zocial-meetup"></span>   Meetup</a></li>
                    <li><a href="#"><i class="fa fa-windows"></i>   Windows Live</a></li>
                    <li><a href="#"><i class="fa fa-weibo"></i>   Weibo</a></li>
                    <li><a href="#"><i class="fa fa-foursquare"></i>   Foursquare</a></li>
                    <li><a href="#"><i class="fa fa-stackexchange"></i>   Stack Exchange</a></li>
                    <li><a href="#"><i class="fa fa-trello"></i>   Trello</a></li>
                    <li><a href="#"><span class="zocial-wordpress"></span>   Wordpress</a></li>
                </ul>
            </div>
            <br>
            <div class="col-lg-12 text-center" style="margin-top: 50px">
                <img class="img-avatar" ng-src="{{response.imageUrl}}" alt="">
            </div>
            <div class="col-lg-12">
                <h1>{{response.name}}</h1>
                <h1>{{response.email}}</h1>
            </div>
            <br><br>

            <small class="text-muted">Or sign in with [your service]</small>
            <br><br>

            <br>
            <small class="create-account text-muted">Dont have a [your service] or social network account? <button id="ember363" class="ember-view btn btn-sm btn-default"> Sign Up </button> </small>
        </form>
    </div>